<?xml version="1.0"?>
<!--
  ~ @Author:    Nathan Chick (nathan.chick@deploy.co.uk)
  ~ @Copyright: 2024 Deploy Ecommerce (https://www.deploy.co.uk/)
  ~ @Package:   DeployEcommerce_BuilderIO
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DeployEcommerce_BuilderIO::management" sortOrder="10" title="Builder IO"
             module="DeployEcommerce_BuilderIO" parent="Magento_Backend::content"
             resource="DeployEcommerce_BuilderIO::management" translate="title"/>
        <add id="DeployEcommerce_BuilderIO::listing" sortOrder="20" title="Page Content"
             module="DeployEcommerce_BuilderIO" parent="DeployEcommerce_BuilderIO::management"
             resource="DeployEcommerce_BuilderIO::listing" translate="title" action="builderio/content/page"/>
        <add id="DeployEcommerce_BuilderIO::management_webhook" sortOrder="30" title="Webhook Management"
             module="DeployEcommerce_BuilderIO" parent="DeployEcommerce_BuilderIO::management"
             resource="DeployEcommerce_BuilderIO::management" translate="title" action="builderio/webhook/index"/>
        <add id="DeployEcommerce_BuilderIO::management_configuration" sortOrder="40" title="Configuration"
             module="DeployEcommerce_BuilderIO" parent="DeployEcommerce_BuilderIO::management"
             resource="DeployEcommerce_BuilderIO::management" translate="title" action="adminhtml/system_config/edit/section/builder_io"/>
    </menu>
</config>
