<?xml version="1.0"?>
<!--
  ~ @Author:    Nathan Chick (nathan.chick@deploy.co.uk)
  ~ @Copyright: 2024 Deploy Ecommerce (https://www.deploy.co.uk/)
  ~ @Package:   DeployEcommerce_BuilderIO
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="DeployEcommerce\BuilderIO\Api\Data\WebhookInterface"
                type="DeployEcommerce\BuilderIO\Model\WebhookModel"/>
    <preference for="DeployEcommerce\BuilderIO\Api\WebhookRepositoryInterface"
                type="DeployEcommerce\BuilderIO\Model\WebhookRepository"/>
    <preference for="DeployEcommerce\BuilderIO\Api\Data\ContentPageInterface"
                type="DeployEcommerce\BuilderIO\Model\ContentPageModel"/>
    <preference for="DeployEcommerce\BuilderIO\Api\Data\WebhookSearchResultsInterface"
                type="DeployEcommerce\BuilderIO\Model\WebhookSearchResultsModel"/>
    <preference for="DeployEcommerce\BuilderIO\Api\ContentPageRepositoryInterface"
                type="DeployEcommerce\BuilderIO\Model\ContentPageRepository"/>

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="builderioProvider" xsi:type="object">DeployEcommerce\BuilderIO\Model\Sitemap\ItemProvider\Page</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ContentPageDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="resourceModel" xsi:type="string">
                DeployEcommerce\BuilderIO\Model\ResourceModel\ContentPageModel\ContentPageCollection
            </argument>
            <argument name="mainTable" xsi:type="string">builderio_content_page</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument xsi:type="array">
                <item xsi:type="string" name="Page_data_source">ContentPageDataProvider</item>
            </argument>
            <argument xsi:type="array">
                <item xsi:type="string" name="ContentPage_data_source">ContentPageProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ContentPageProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="resourceModel" xsi:type="string">
                DeployEcommerce\BuilderIO\Model\ResourceModel\ContentPageModel\ContentPageCollection
            </argument>
            <argument name="mainTable" xsi:type="string">builderio_content_page</argument>
        </arguments>
    </virtualType>
</config>
