<?xml version="1.0"?>
<!--
  ~ @Author:    Nathan Chick (nathan.chick@deploy.co.uk)
  ~ @Copyright: 2024 Deploy Ecommerce (https://www.deploy.co.uk/)
  ~ @Package:   DeployEcommerce_BuilderIO
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="builderio_content_page_model_save_after">
        <observer name="process_url_rewrite_saving"
                  instance="DeployEcommerce\BuilderIO\Observer\ProcessUrlRewriteSavingObserver"
        />
    </event>
    <event name="builderio_content_page_model_delete_after">
        <observer name="delete_url_rewrite" instance="DeployEcommerce\BuilderIO\Observer\DeleteUrlRewriteObserver" />
    </event>
    <event name="builderio_content_page_model_save_commit_after">
        <observer name="flush_varnish_builderio_pagecache"
                  instance="Magento\CacheInvalidate\Observer\InvalidateVarnishObserver"
        />
    </event>
</config>
