<?xml version="1.0"?>
<!--
  ~ @Author:    Nathan Chick (nathan.chick@deploy.co.uk)
  ~ @Copyright: 2024 Deploy Ecommerce (https://www.deploy.co.uk/)
  ~ @Package:   DeployEcommerce_BuilderIO
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\HeaderProvider\AbstractHeaderProvider">
        <plugin name="HeaderProvider"
                type="DeployEcommerce\BuilderIO\Plugin\Magento\Framework\App\Response\HeaderProvider"
                sortOrder="999"/>
    </type>
    <type name="Magento\Store\Model\PathConfig">
        <plugin name="PathConfig"
                type="DeployEcommerce\BuilderIO\Plugin\Magento\Store\Model\PathConfig"
                sortOrder="999"/>
    </type>
</config>
